.judul-index
{
    background-image: linear-gradient(-135deg,#4158d0,#c850c0);
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 1%;
    padding-bottom: 5%;
}

.flex-container
{
    display: flex;
    width: 80%;
    margin: 100px auto;
    justify-content: space-between;
}
.button-container
{
    height: 50px;
    position: sticky;
    margin: 5px;
    background-color: skyblue;
    border: none;
    text-align: center;
    display: inline-block;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.kalimat
{
    font-size: 15pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.judul-profil
{
    background-color: #008b8b;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.foto-profil
{
    width: 555px;
    margin-top: 5%;
    margin: 50px auto;
    display: flex;
}

#huruf-utama, #huruf-utama-profil
{
    text-align: center;
    font-size: 30pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular',
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}

#nama-profil
{
    text-align: center;
    font-style: initial;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.container-bg100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg,#c850c0,#4158d0);

}

.wrap-input
{
    align-items: center;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}